* {
  box-sizing: border-box;
}

/* Body */
body {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

/* Main */
main {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50vw;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 50vh;
  padding: 2rem 2rem;
  position: relative;
}

/* Main title */
main > h1 {
  font-family: "Alice", serif;
  color: #fff;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  position: absolute;
  top: 0;
  margin-top: -25px;
  background: transparent;
  transition: all 250ms;
  background: #3f2b96;
  padding: 10px 10px;
  border-radius: 5px;
  animation: skewRight 3.5s infinite;
}

/* Main text */
main p {
  color: #fff;
  font-size: 1.25rem;
  position: relative;
  top: 1.5rem;
}

main p > span {
  font-size: 2rem;
}

main p > span:before {
  content: '';
  display: inline-block;
  background: #3f2b96;
  width: 0px;
  height: 2px;
  position: absolute;
  top: 40px;
  animation: animateBorder 2s infinite;
}

@keyframes animateBorder {
  0% {
    width: 0;
  }

  25% {
    width: 22%;
  }
}

/* Name span animation */
@keyframes skewRight {
  0% {
    transform: none;
  }

  25% {
    transform: skew(15deg, 15deg);
  }

  50% {
    transform: skew(-15deg, -15deg);
  }

  75% {
    transform: translateY(-35px);
  }
}
